@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$Montserrat: 'Montserrat';
$gradientone: linear-gradient(90deg, rgba(255,132,132,1) 80%, rgba(255,113,130,1) 100%);
$gradienttwo: linear-gradient(90deg, rgba(251,96,96,1) 80%, rgba(237,76,95,1) 100%);
* {
  text-decoration: none;
  list-style: none;
  outline: none;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper__main-page {
  overflow: hidden;
  min-height: 100vh;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/bg.png');
  @media(max-width: 1025px) {
      min-height: 130vh;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}
.header {
  position: relative;
  height: 100%;
  &__header__link {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #232B54;
  }
}
  
  .video__img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 50%;
    background-image: url('../img/video-back.png');
    border-radius: 6px;
    border: 4px solid #333;
    @media(max-width: 1375px) {
        flex: 60%;
    }
    @media(max-width: 1200px) {
        flex: 80%;
    }
    @media(max-width: 1025px) {
        padding-top: 50%;
    }
  }

.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        @media(max-width: 862px) {
          max-width: 90%;
          width: 100%;
        }
        @media(max-width: 580px) {
          width: 100%;
          flex-direction: column;
        }
    }
    &__logo {
        @media(max-width: 580px) {
          text-align: center;
        }
    }
    &__nav {
      @media(max-width: 580px) {
        padding: 30px 0px;
      }
      @media(max-width: 275px) {
        display: flex;
        flex-direction: column;
      }
    }
    &__link {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #232B54;
    padding: 0px 20px;
    cursor: pointer;
    @media(max-width: 862px) {
      font-size: 14px;
      padding: 0px 5px;
    }
    @media(max-width: 275px) {
      padding: 10px 0px;
    }
    }
    &__buttons {
        display: flex;
        align-items: center;
        width: 30%;
        @media(max-width: 579px) {
          width: 100%;
          flex-direction: column;
        }
    }
    &__buttonst {
        padding: 15px 22px;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #FF7182;
        transition: 0.6s;
        cursor: pointer;
        position: relative;
        border: 1px solid;
        background-color: #fff;
        border-radius: 5px;
        @media(max-width: 862px) {
          font-size: 13px;
        }
        @media(max-width: 682px) {
          padding: 10px 15px;
          font-size: 11px;
        }
        @media(max-width: 579px) {
          width: 100%;
          font-size: 16px;
        }
        &:hover {
        background-color: #D54B4B;
        color: #fff;
        }
        }
        &__buttonnd {
        padding: 15px 22px;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #FF7182;
        transition: 0.6s;
        cursor: pointer;
        border: none;
        background-color: transparent;
        @media(max-width: 862px) {
          font-size: 13px;
        }
        @media(max-width: 682px) {
          font-size: 11px;
        }
        @media(max-width: 579px) {
          width: 100%;
          font-size: 16px;
        }
        }
        &__content {
          max-width: 1400px;
          width: 100%;
          margin: 0 auto;
          padding: 20px 20px;
        @media(max-width: 580px) {
          padding: 20px 0px;
        }
        &__inner {
          justify-content: center;
          align-items: center;
          margin-top: 12%;
          padding: 0px 10px;
        &__inner {
            display: flex;
            justify-content: space-between;
            @media(max-width: 1025px) {
                flex-direction: column;
            }
        }
        }
            &__text {
                flex: 50%;
                height: auto;
                padding: 100px 0px;
                font-family: $Montserrat;
                @media(max-width: 1190px) {
                    padding: 50px 0px;
                }
                @media(max-width: 1025px) {
                    text-align: center;
                }
            }
            &__title {
                font-weight: 700;
                font-size: 28px;
                line-height: 39px;
                text-transform: uppercase;
                span {
                    color: #FF7182;
                }
                @media(max-width: 580px) {
                  font-size: 20px;
                  line-height: 30px;
                }
            }
            &__buttons {
              display: flex;
              align-items: center;
              width: 100%;
              @media(max-width: 1025px) {
                justify-content: center;
            }
              @media(max-width: 579px) {
                width: 100%;
                flex-direction: column;
              }

            }

            &__buttonst {
              padding: 15px 22px;
              font-family: $Montserrat;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              color: #fff;
              transition: 0.6s;
              cursor: pointer;
              position: relative;
              background-image: $gradientone;
              border-radius: 5px;
              margin-right: 10px;
                span {
                    position: relative;
                    z-index: 1;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.3em;
                    background-image: $gradienttwo;
                    transition: opacity 0.5s ease-out;
                    opacity: 0;
                  }
                  &:hover:after {
                    opacity: 1;
                  }
                  @media(max-width: 579px) {
                    width: 100%;
                    padding: 10px; 
                    font-size: 16px;
                    margin: 20px 0px;
                    margin-right: 0;
                  }
                }
          &__buttonnd {
            padding: 15px 22px;
            font-family: $Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #FF7182;
            transition: 0.6s;
            cursor: pointer;
            position: relative;
            border-radius: 5px;
            color: #fff;
            color: #333;
            @media(max-width: 579px) {
              width: 100%;
              padding: 0px 0px;
              font-size: 16px;
            }
            &:hover {
                color: #fff;
            }
            span {
                position: relative;
                z-index: 1;
            }
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 0.3em;
                background-image: $gradientone;
                transition: opacity 0.5s ease-out;
                opacity: 0;
              }
              &:hover:after {
                opacity: 1;
              }
              @media(max-width: 579px) {
                width: 100%;
                padding: 10px; 
                font-size: 16px;
              }
        }
  }
}

.patients {
  &__body {
    height: 100%;
    background-color: #f7f7f7;
  }
  &-title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    padding: 50px 0px;
    text-align: center;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 50px;
    padding-bottom: 100px;
    @media(max-width: 1365px) {
      max-width: 95%;
    }
    @media(max-width: 789px) {
      width: auto;
      flex-direction: column;
    }
  }
  &__item {
    margin: 25px 20px;
    &__titlewith {
      max-width: 280px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      &::before {
        background-image: url('../img/Vector.png');
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        height: 25px;
        width: 28px;
        left: -40px;
        top: 50px;
        top: 0;
        
        @media(max-width: 789px) {
          margin: 0;
        }
    }
    @media(max-width: 789px) {
      max-width: 100%;
    }
  }
    &__title {
      font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #213F68;
    @media(max-width: 789px) {
      
    }
  }
    &__description {
    font-family: $Montserrat;
    font-size: 20px;
    padding-top: 20px;
    color: #213F68;
    max-width: 100%;
    padding-right: 30px;
    @media(max-width: 789px) {
      padding-right: 0;
    }
    }
    @media(max-width: 789px) {
      width: 90%;
    }
  }
  }

  .bookings {
    &__body {
      height: 100%;
      background-color: #f7f7f7;
    }
    &__inner {
      margin: 0 auto;
      max-width: 1170px;
      width: 100%;
      padding: 100px 0px;
      border-radius: 3px;
      background-color: #F8F9FB;
    }
    &__content {

    }
    &__title {
      font-family: $Montserrat;
      font-weight: bold;
      font-size: 28px;
      line-height: 140%;
      text-align: center;
      color: #232B54;
    }
    &__button {
      padding-top: 60px;
      display: flex;
      justify-content: center;
    }
    &__btn {
      padding: 15px 22px;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      border: none;
      color: #fff;
      transition: 0.6s;
      cursor: pointer;
      position: relative;
      background-image: $gradientone;
      border-radius: 5px;
      margin-right: 10px;
    }
    &__grass {
      width: 170px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      transform: translate(0px,-30px);
      position: relative;
      border-bottom: 10px solid transparent; 
      border-image: linear-gradient( #0E9ADF 0%, #F4F955 20%, #0625F9 100%);
      -moz-border-image: -moz-linear-gradient(#0E9ADF 0%, #F4F955 20%, #0625F9 100%);
      -webkit-border-image: -webkit-linear-gradient(#0E9ADF 0%, #F4F955 20%, #0625F9 100%); 
    }
  }
  .sliders {
    background-color: #f7f7f7;
    padding: 100px 0px;
    &__title {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 140%;
      text-align: center;
      color: #232B54;
      span {
        color: rgba(255,132,132,1);
      }
    }
  }

  
  .sliderst {
    min-width: 0px;
    &__content {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      min-width: 0;
      &-rev {
        flex-direction: row-reverse;
      }
      @media(max-width: 800px) {
        max-width: 90%;
        flex-wrap: wrap;
      }
    }
  }
  .slider {
    display: flex;
    flex: 1 1 40%;
    min-width: 0px;
    &__text {
      max-width: 416px;
      padding-right: 40px;
      padding-left: 50px;
      padding-top: 50px;

      @media(max-width: 800px) {
        max-width: 100%;
        text-align: center;
      }
    }
    &__texttwo {
      padding: 40px 0px;
    }
    &__img {

    }
  }
  .textall {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #213F68;
    position: relative;
    @media(max-width: 1000px) {
      font-size: 17px;
    }
    @media(max-width: 850px) {
      font-size: 15px;
    }
    @media(max-width: 800px) {
      max-width: 50%;
      margin: 0 auto;
    }
    &:before {
      background-image: url('../img/Vector-1.png');
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        height: 25px;
        width: 28px;
        transform: translateX(-40px);
        top: 50px;
        top: 0;
    }
  }

.slider__item {
  display: flex;
  min-width: 0;
  @media(max-width: 800px) {
    justify-content: center;
    align-items: center;
  }
}

.posts__img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.posts__img img {
  max-width: 100%;
}

.info {
  min-height: 100%;
  background-color: #f8f8f8;
  &__body {
    min-height: 30vh;
    padding: 100px 0px;
  }
  &__bigtitle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__titlebig {
    position: relative;
    color: #fff;
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: calc(50px + 30 * ((100vw - 320px) / (1280 - 320)));
    line-height: 100%;
    max-width: 979px;
    width: 100%;
    text-align: right;
    margin: 0 auto;
    @media(max-width: 1024px) {
      text-align: center;
    }
    @media(max-width: 420px) {
      font-size: calc(40px + 30 * ((100vw - 320px) / (1280 - 320)));
    }
  }
  &__titlesmall {
    position: absolute;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(14px + 14 * ((100vw - 320px) / (1280 - 320)));
    line-height: 140%;
    color: #232B54;
    transform: translateX(-40%);
    max-width: 400px;
    @media(max-width: 1024px) {
      transform: translateX(-20%);
    }
    @media(max-width: 600px) {
      text-align: center;
      transform: translateX(0);
    }
    @media(max-width: 560px) {
      text-align: center;
      transform: translateY(40px);
    }
    @media(max-width: 420px) {
      font-size: calc(12px + 12 * ((100vw - 320px) / (1280 - 320)));
    }
  }
  &__row {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    @media(max-width: 769px) {
      flex-direction: column;
    }
  }
  &-col {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__item {
    transition: 0.6s;
    &:hover {
      border-top: 1px solid transparent;
      border-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      -moz-border-image: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      -webkit-border-image: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      border-image-slice: 1;
      transition: 0.6s;
      background-color: #fff;
    }
    &:hover &__img {
      padding-top: 59px;
    }
    padding: 0px 30px;
    &__img {
      padding-top: 60px;
      @media(max-width: 769px) {
        text-align: center;
      }
    }
    &__title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #232B54;
    padding: 30px 0px;
    @media(max-width: 769px) {
      text-align: center;
    }
    }
    &__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #213F68;
    max-width: 310px;
    width: 100%;
    padding-bottom: 134px;
    @media(max-width: 769px) {
      text-align: center;
    }
    }
  }
}
.sliderst__content .swiper-scrollbar {
  background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 2px;
}

.swiper-scrollbar-drag {
  height: 3px;
  background-color: #FF7182;
  z-index: 5;
}

.slider__content {
  display: flex;
  justify-content: space-between;
}

.patient {
  &__body {
    padding: 100px 0px;
  }
  &__inner {
    margin: 0 auto;
    max-width: 43%;
    width: 100%;
    background-position: top left;
    position: relative;
    background-color: #f8f8f8;
  }
  &__content {
    border-radius: 3px;
    border: 1px solid #333;
    transform: translate(7%,10%);
  }
  &__title {
    padding-top: 100px;
    max-width: 570px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    margin: 0 auto;
    text-align: center;
    color: #232B54;
  }
}

.form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 52px;
  padding-top: 60px;
  padding-bottom: 95px;
  &__input {
    flex: 0 1 60%;
    height: 52px;
    &__item {
      height: 100%;
      width: 100%;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 140%;
      padding: 0px 10px;
      color: #213F68;
      background-color: #fff;
      border: none;
    }
  }
  &__button {
    display: flex;
    flex: 0 1 40%;
    height: 100%;
    margin-left: 5%;
    &__item {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, #FF8484 100%,#FF7182 80%);
      border: none;
      outline: none;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}